article {
    padding-bottom: 16px;
}

.title {
    color: #2970A6;
    font-weight: bold;
    font-family: Sans-serif;
    font-size: 12px;
    padding-bottom: 8px;
}

.authors {
    font-family: Sans-serif;
    color: #333;
    font-size: 12px;
    padding-left: 3%;
    padding-bottom: 4px;    
}

.journal {
    font-family: Sans-serif;
    color: #333;
    font-size: 12px;  
    padding-left: 3%;
    padding-bottom: 4px;

}

.links {
    font-family: Sans-serif;
    color: #333;
    font-size: 12px;  
    padding-left: 3%;
}